//////////////////////////////
///////// APP STYLES /////////
//////////////////////////////

@import 'src/styles/variables/dimension';

.app {
  display: flex;
  flex-direction: column;

  &__main {
    flex-grow: 1;
    width: 100%;
    max-width: $container--xl;
    margin: auto;
    padding: 1rem;
  }
}
