///////////////////////////////
//////// HEADER STYLES ////////
///////////////////////////////

@import 'src/styles/variables/colors';

.header {
  padding: 3rem;
  background-color: $secondary;
  color: $secondary-ink;
  text-align: center;
}
