//////////////////////////////
////// COLORS VARIABLES //////
//////////////////////////////

//// MAIN
// INK
$ink: #0A6001 !default;
$ink--light: #093100 !default;
$ink--dark: #E0FFDB !default;
// SURFACE
$surface: #baf5b4 !default;
$surface--light: #bbfcac !default;
$surface--dark: #106d00 !default;
// PRIMARY
$primary: #35A02A !default;
$primary--light: #81D478 !default;
$primary--dark: #0A6001 !default;
$primary-ink: #F7FFF7 !default;
$primary-ink--light: #093100 !default;
$primary-ink--dark: #E0FFDB !default;
// SECONDARY
$secondary: #207871 !default;
$secondary--light: #5CA39E !default;
$secondary--dark: #004843 !default;
$secondary-ink: #E5FFFA !default;
$secondary-ink--light: #002320 !default;
$secondary-ink--dark: #D3FCFA !default;
// TERTIARY
$tertiary: #8DB730 !default;
$tertiary--light: #5CA39E !default;
$tertiary--dark: #4C6F01 !default;
$tertiary-ink: #E9F8D6 !default;
$tertiary-ink--light: #002120 !default;
$tertiary-ink--dark: #EBF8CC !default;
// SHADE
$shade: #ADB5BD !default;
$shade--100: #F8F9FA !default;
$shade--200: #E9ECEF !default;
$shade--300: #DEE2E6 !default;
$shade--400: #CED4DA !default;
$shade--500: #ADB5BD !default;
$shade--600: #6C757D !default;
$shade--700: #495057 !default;
$shade--800: #343A40 !default;
$shade--900: #212529 !default;
// STATUS
$info: #00EEEE !default;
$success: #10d202 !default;
$warning: #F4FC00 !default;
$error: #FF0000 !default;
$neutral: #788D78 !default;
