//////////////////////////////
//// DIMENSIONS VARIABLES ////
//////////////////////////////

// CONTAINER
$container--xl: 1200px;
$container--lg: 1000px;
$container--md: 800px;
$container--sm: 600px;
$container--xs: 370px;

// GUTTER
$gutter: 1rem;
$gutter--xl: 3rem;
$gutter--sm: .5rem;
